.memory{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

.a, .b, .c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px;
}
section div div img{
    height: 350px;
    width: 197px;
}